body{
    background-image: url(https://phantom-marca.unidadeditorial.es/6557062822ae9d8fcfb57a14f4fcb803/resize/1320/f/jpg/assets/multimedia/imagenes/2022/05/09/16521305266949.jpg);
    background-size: 100%;
    align-items: center;
}
.contenedor{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

#title{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 5.625rem;
    text-decoration: underline coral;
    font-weight: bold;
    padding: 0.625rem;
    padding-bottom: 1.5rem;
    background: linear-gradient(90deg, red, white);
    -webkit-background-clip: text;
    color: transparent;  
}

.container{
    font-size: 1.5625rem;
}

#ip {
    text-align: center;
}

#ip a{
    color: white;
}
#comandos{
    text-align: center;
}
#normas{
    text-align: center;
}

a{
    text-decoration: none;
    padding: 0.325rem;
    background-color: red;
    border-radius: 0.825rem;
    font-weight: bold;
    color: white;
}

footer{
    margin-top: 5%;
    text-align: center;
}

#discord{
    font-size: 3.75rem;
}

#discord a{
    padding: 0.8875rem;
    border-radius: 50%;
    background-color: blue;
    color: white;
}

#whatsapp{
    font-size: 1.5625rem;
    padding-left: 15.625rem;
    font-size: 3.75rem;
}