*{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
body{
    background-color: black;
}

h1{
    font-size: 400%;
}

li{
    font-size: 25px;
}

p{
    font-size: 30px;
    color: lawngreen;
}